/* =============================================================

	Social Sharing v1.4
	Social sharing links and buttons without the bloat by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
/*  Variables */
/*  Twitter */
.btn-tweet {
  background-color: #41b7d8;
  border-color: #41b7d8;
}

.btn-tweet:hover,
a .btn-tweet:hover {
  background-color: #238caa;
  border-color: #238caa;
}

/*  Facebook */
.btn-facebook {
  background-color: #3b5997;
  border-color: #3b5997;
}

.btn-facebook:hover,
a .btn-facebook:hover {
  background-color: #263960;
  border-color: #263960;
}

/*  Google */
.btn-google {
  background-color: #d64937;
  border-color: #d64937;
}

.btn-google:hover,
a .btn-google:hover {
  background-color: #a02f21;
  border-color: #a02f21;
}

/*  LinkedIn */
.btn-linkedin {
  background-color: #0073b2;
  border-color: #0073b2;
}

.btn-linkedin:hover,
a .btn-linkedin:hover {
  background-color: #004265;
  border-color: #004265;
}

/*  Pinterest */
.btn-pinterest {
  background-color: #cb2027;
  border-color: #cb2027;
}

.btn-pinterest:hover,
a .btn-pinterest:hover {
  background-color: #89161a;
  border-color: #89161a;
}

/*  GitHub */
.btn-github {
  background-color: #3a3838;
  border-color: #3a3838;
}

.btn-github:hover,
a .btn-github:hover {
  background-color: #131212;
  border-color: #131212;
}

/* VK */
.btn-vk {
  background-color: #5e82a8;
  border-color: #5e82a8;
}

.btn-vk:hover,
a .btn-vk:hover {
  background-color: #415c78;
  border-color: #415c78;
}

/*  Xing */
.btn-xing {
  background-color: #175e60;
  border-color: #175e60;
}

.btn-xing:hover,
a .btn-xing:hover {
  background-color: #082222;
  border-color: #082222;
}

/*  Tumblr */
.btn-tumblr {
  background-color: #35465c;
  border-color: #35465c;
}

.btn-tumblr:hover,
a .btn-tumblr:hover {
  background-color: #19212b;
  border-color: #19212b;
}
