/* =============================================================

	Kraken Buttons
	Simple button styling by Chris Ferdinandi.
	Only needed if you're NOT using the Kraken boilerplate.
	http://cferdinandi.github.io/kraken/

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */

.btn {
	display: inline-block;
	font-size: calc-em(15px);
	padding: calc-em(8px) calc-em(11px);
	line-height: 1.2;
	font-weight: normal;
	background-color: $color-primary;
	border: calc-em(1px) solid $color-primary;
	border-radius: calc-em(1px);
	margin-right: calc-em(5px);
	margin-bottom: calc-em(5px);
}

.btn,
.btn:hover,
a .btn:hover,
.btn.active {
	color: $color-white;
}

.btn:hover,
a .btn:hover,
.btn.active {
	background-color: darken( $color-primary, 15% );
	border-color: darken( $color-primary, 15% );
	text-decoration: none;
}