/* =============================================================

	Kraken Buttons
	Simple button styling by Chris Ferdinandi.
	Only needed if you're NOT using the Kraken boilerplate.
	http://cferdinandi.github.io/kraken/

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */

.btn {
	display: inline-block;
	font-size: .882352941em;
	padding: .4em .666666667em;
	line-height: 1.333333333;
	font-weight: normal;
	background-color: #808080;
	border: .071428571em solid #808080;
	border-radius: .235294118em;
	margin-left: .3em;
	margin-bottom: .3em;
}

.btn,
.btn:hover,
a .btn:hover {
	color: #ffffff;
}

.btn:hover,
a .btn:hover,
.btn.active {
	background-color: #595959;
	border-color: #595959;
	text-decoration: none;
}